/node_modules
/public/hot
/public/images/hasil.png
public/images/hasil.png
/public\images\hasil.png
/public/storage
/storage/*.key
/vendor
.env*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/web.config
/public/.htaccess
/public/opt
/public/data_pten/*.png
